{% extends "band/band_list.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
	{% if form.initial %}
		{{ block.super }}
		<a class="breadcrumbs-arrow">»</a>
		<a href="{% url 'band:create' %}" class="breadcrumbs">Edit Band</a>
	{% else %}
		{{ block.super }}
		<a class="breadcrumbs-arrow">»</a>
		<a href="{% url 'band:create' %}" class="breadcrumbs">Create Band</a>
	{% endif %}
	{% endblock %}
</div>

{% block title %}
{% if form.initial %}
{{ band.name }} - Edit
{% else %}
Create
{% endif %}
 - Band - Band Booking
{% endblock %}
{% block content %}
<h1>
	{% if form.initial %}
	{{ band.name }} <small>edit</small>
	{% else %}
	Band <small>create</small>
	{% endif %}
</h1>
<form method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Ok">
			</td
		</tr>
	</table>
</form>
{% endblock %}
