{% extends "base.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
		{{ block.super }}
		<span class="breadcrumbs"><a href="{% url 'band:list' %}">Bands</a></span>
	{% endblock %}
</div>

{% block title %}Bands - Band Booking{% endblock %}
{% block content %}
<h1 class="title">Bands</h1>
{% if perms.band.add_band %}
<div class="controls">
	<a href="{% url 'band:create' %}" class="button"><i class="fa fa-plus"></i> Add band</a>
	<input type="text" id="band-search" placeholder="Search for bands..." />
</div>

{% endif %}
<div class="table table-style" id="band-table">
	<div class="rowheader">
		<div class="cell">ARTIST</div>
		<div class="cell">CONTACT PERSON</div>
		<div class="cell">CONTACT PHONE</div>
		<div class="cell">CONTACT EMAIL</div>
	</div>
	
	{% for band in band_list %}
	<a href="{% url 'band:detail' band.slug %}" class="row"
		data-search="{{ band.name }},
			{{ band.contact_person }},
			{{ band.contact_phone }},
			{{ band.contact_email }}">
		<div class="cell" data-col="ARTIST">{{ band.name }}</div>
		<div class="cell" data-col="PERSON">{{ band.contact_person }}</div>
		<div class="cell" data-col="PHONE">{{ band.contact_phone }}</div>
		<div class="cell" data-col="EMAIL">{{ band.contact_email }}</div>
	</a>
	{% endfor %}
</div>

<script>
	/**
	 * Filter band based on search.
	 */
	var _search = document.querySelector('#band-search')
	if (document.querySelector('#band-table > .row')) {
		var _display = document.querySelector('#band-table > .row').style.display
		_search.addEventListener('keyup', function (evt) {
			var _table = document.querySelectorAll('#band-table > .row')
			var _self = this
			_table.forEach(function (el) {
				var _test = new RegExp(_self.value, "i").test(el.dataset.search)
				if (!_self.value.length)
					el.style.display = _display
				else
					el.style.display = _test ? _display : 'none'
			})
		})
	}

</script>

{% endblock %}
