{% extends "band/band_list.html" %}

{% block breadcrumbs %}
{{ block.super }}
{% if band %}
<span class="breadcrumbs">
	<a href="{% url 'band:detail' band.slug %}">{{ band }}</a>
</span>
{% endif %}
<span class="breadcrumbs">
	{% if band %}
	<a href="{% url 'band:update' band.slug %}">Edit</a>
	{% else %}
	<a href="{% url 'band:create' %}">Create</a>
	{% endif %}
</span>
{% endblock %}

{% block title %}
{% if form.initial %}
{{ band.name }} - Edit
{% else %}
Create
{% endif %}
 - Band - Band Booking
{% endblock %}
{% block content %}
<h1>
	{% if form.initial %}
	{{ band.name }} <small>edit</small>
	{% else %}
	Band <small>create</small>
	{% endif %}
</h1>
<form class="create-form" method="POST">
	<p>Please enter the band information below.</p>
	{% csrf_token %}
	<table class="create-booking-table">
		{{ form.as_table }}
		<tr>
			<td></td>
			<td>
				<button class="submit-button" type="submit" value="Add">Add</button>
			</td>
		</tr>
	</table>
</form>
{% endblock %}
