{% extends "base.html" %}
{% block title %}Bands - Band Booking{% endblock %}
{% block content %}
<h1>Bands</h1>
<a href="{% url 'band:create' %}" class="button">Add band</a>
<div class="table">
	<div class="rowheader">
		<div class="cell">ARTIST</div>
		<div class="cell">CONTACT PERSON</div>
	</div>
	
	{% for band in band_list %}
	<a href="{% url 'band:detail' band.slug %}" class="row">
		<div class="cell" data-col="ARTIST">{{ band.name }}</div>
		<div class="cell" data-col="PERSON">{{ band.contact_person }}</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
