{% extends "band/band_list.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <a class="breadcrumbs">»</a><a href="{% url 'band:detail' band.slug %}" class="breadcrumbs">{{ band.name }}</a>
{% endblock %}
{% block title %}{{ band.name }} - Band - Band Booking{% endblock %}
{% block content %}
<h1>{{ band.name }} <small>band</small></h1>
{% if perms.band.edit_band %}
<a href="{% url 'band:update' band.slug %}">Edit band</a><br/>
{% endif %}
<img src="{{ band_meta.images.0.url }}" width="{{ band_meta.images.0.width }}" height="{{ band_meta.images.0.height }}">
<table>
	<tr>
		<td>Popularity</td>
		<td>{{ band_meta.popularity }}</td>
	</tr>
</table>
<h2>Contact</h2>
<table>
	<tr><td colspan="2"><b>{{ band.contact_person }}</b></td></tr>
	<tr>
		<td>Phone</td>
		<td>{{ band.contact_phone }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ band.contact_email }}</td>
	</tr>
</table>
{% endblock %}
