{% extends "band/band_list.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
		{{ block.super }}
		<span class="breadcrumbs"><a href="{% url 'band:detail' band.slug %}">{{ band.name }}</a></span>
	{% endblock %}
</div>
{% block title %}{{ band.name }} - Band - Band Booking{% endblock %}
{% block content %}
<div class="layout-row">
	<div>
		<h1 class="title">{{ band.name }} <small>band</small></h1>
		{% if perms.band.edit_band %}
		<div class="controls">
			<a href="{% url 'band:update' band.slug %}" class="button">
				<i class="fa fa-refresh"></i> Edit band
			</a>
		</div>
		<br/>
		{% endif %}
		<img src="{{ band_meta.images.0.url }}" width="300px" />

		<!-- width="{{ band_meta.images.0.width }}" height="{{ band_meta.images.0.height }}"> -->
		<table class="table table-style inline-table">
			<tr class="rowheader">
				<td class="cell">Popularity:</td>
				<td class="cell">{{ band_meta.popularity_verdi }}</td>
			</tr>
			<tr class="row">
				<td class="cell">Genres:</td>
				<td class="cell" data-col="Popularity">{{ band.get_genres }}</td>
			</tr>
			<tr class="row">
				<td class="cell">Earlier concerts in Norway: </td>
				<td class="cell" data-col="Popularity">{{band.concerts}}</td>
			</tr>
			<tr class="row">
				<td class="cell">Sold albums: </td>
				<td class="cell" data-col="Popularity">{{band.sold_albums}}</td>
			</tr>
		</table>
	</div>
	<div>
		<h2>Contact</h2>
		<table class="table table-style inline-table">
			<tr class="rowheader">
				<td class="cell" colspan="2">
					<b>{{ band.contact_person }}</b>
				</td>
			</tr>
			<tr class="row">
				<td class="cell">Phone</td>
				<td class="cell" data-col="Phone">{{ band.contact_phone }}</td>
			</tr>
			<tr class="row">
				<td class="cell">Email</td>
				<td class="cell" data-col="Email">{{ band.contact_email }}</td>
			</tr>
		</table>
		<h2>Members</h2>
		<table class="table table-style inline-table">
			<tr class="rowheader">
				<td class="cell" colspan="2">{% if band.members.all %}
					Members connected to band
				{% endif %}</td>
			</tr>
			{% for member in band.members.all %}
			<tr class="row members-for-band">
				<td>{{ member.get_full_name|default:member.username }}</td>
			</tr>
			{% endfor %}
			<tr class="add-members-for-band">
				<td><a href="{% url 'band:member_add' band.slug %}" class="button">Add</a></td>
			</tr>
		</table>
		<iframe src="https://embed.spotify.com/?uri=spotify:trackset:Top 10 songs:{{song_ids}}"
			width="300"
			height="380"
			view="list"
			frameborder="0"
			allowtransparency="true">
		</iframe>
	</div>
</div>
<!-- CONCERTS DONE BEFORE -->

<h2>Prior Concerts</h2>
<div class="table table-style">
	<div class="rowheader">
		<div class="cell">Date</div>
		<div class="cell">Venue</div>
		<div class="cell">Band fee</div>
		<div class="cell">Total surplus</div>
	</div>

	{% for booking in band.bookings.all %}
	{% if booking.is_past_due and booking.state == 'b' %}
	<a href="{% url 'booking:detail' booking.id %}" class="row">
		<div class="cell" data-col="Date">{{ booking.begin|date:"d M Y H:i" }}</div>
		<div class="cell" data-col="Venue">{{ booking.venue.name }}</div>
		<div class="cell" data-col="Band fee">{{ booking.band_fee }}kr</div>
		<div class="cell" data-col="">{{ booking.report.sum  }}kr</div>
	</a>
	{% endif %}
	{% endfor %}
</div>

{% endblock %}
