{% extends "base.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
		{{ block.super }}
		<span class="breadcrumbs"><a href="{% url 'booking:list' %}">Bookings</a></span>
	{% endblock %}
</div>

{% block title %}Bookings - Band Booking{% endblock %}
{% block content %}
<div class="layout-row">
	<div class="layout-cell corner-spacing">
		<h1 class="title">Bookings</h1>
		<div class="controls">
			<a href="{% url 'booking:create' %}" class="button"><i class="fa fa-plus"></i> Add booking</a>
		</div>
	</div>
</div>
<div id="toggleCalendar"></div>
	<div class="layout-cell center" id="weekcalendar">
		{% load weeklist %}
		{% load url_replace %}
		<span>
			<a href="?{% url_replace request 'week' weeklist.week_previous|date:'Y-\WW' %}">Last week</a> |
			<span>Week {{ weeklist.week|date:'W, Y' }}</span> |
			<a href="?{% url_replace request 'week' weeklist.week_next|date:'Y-\WW' %}">Next week</a>
		</span>
		{% with current_week_str=weeklist.week|date:'Y-\WW' %}
		<div class="weeklist table-style">
			<div class="rowheader">
				<div class="cell"></div>
				{% for e in 0|weekdays:current_week_str %}
				<div class="cell">
					<span class="dayname">{{ e.date|date:"l" }}</span>
					<span class="date">{{ e.date|date:"d.m" }}</span>
				</div>
				{% endfor %}
			</div>
			{% for venue in weeklist.list|booking_venue_list %}
			<div class="row-col">
				<div class="cell">{{ venue.venue }}</div>
				{% for date in venue.booking_list|booking_weeklist:current_week_str %}
				{% if date.accepted %}
				<a class="cell accepted" href="{% url 'booking:detail' date.booking.id %}" title="View booking">
					{{ date.booking.band }}
				</a>
				{% elif date.offer_accepted %}
				<a class="cell offer_accepted" href="{% url 'booking:detail' date.booking.id %}" title="View booking">
					{{ date.booking.band }}
				</a>
				{% elif date.offer_sent %}
				<a class="cell offer_sent" href="{% url 'booking:detail' date.booking.id %}" title="View booking">
					{{ date.booking.band }}
				</a>
				{% elif date.pending %}
				{% if date.list|length_is:"1" %}
				{% with booking=date.list|first %}
				<a class="cell pending" href="{% url 'booking:detail' booking.id %}" title="View booking">
					{{ booking.band }}
				</a>
				{% endwith %}
				{% else %}
				<a class="cell pending" href="{% url 'booking:list' %}?date={{ date.date|date:'Y-m-d' }}&venue={{ venue.venue.slug }}" title="View bookings">
					Multiple bookings
				</a>
				{% endif %}
				{% else %}
				<a class="cell" href="{% url 'booking:create' %}?date={{ date.date|date:'Y-m-d' }}&venue={{ venue.venue.slug }}" title="Create booking"></a>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		{% endwith %}
	</div>

	<div class="layout-cell center" id="monthCalendar">
		{% load weeklist %}
		{% load url_replace %}

		<form action="" method="get">
  			<select name="monthlist_venue" onchange="this.form.submit()">
  				{% for venue in weeklist.list|booking_venue_list %}
  				{% ifequal venue.venue monthlist.venue_this %}
  					<option value="{{ venue.venue.slug }}" selected="selected">{{ venue.venue}}</option>
  				{% else %}
    				<option value="{{ venue.venue.slug }}">{{ venue.venue }}</option>
    			{% endifequal %}
    			{% endfor %}
  			</select>
		</form>

		{% with current_week_str=weeklist.week|date:'Y-\WW' %}
		<div class="weeklist table-style">
			<div class="rowheader">
				{% for e in 0|weekdays:current_week_str %}
				<div class="cell">
					<span class="dayname">{{ e.date|date:"l" }}</span>
				</div>
				{% endfor %}
			</div>
		{% endwith %}

		{% for week in monthlist.weeks %}
			{% with current_week_str=week|date:'Y-\WW' %}
			<div class="row-col">
				{% for date in monthlist.list|booking_weeklist:current_week_str %}
				{% if date.accepted %}
				<a class="cell accepted" href="{% url 'booking:detail' date.booking.id %}" title="View booking">
					{{ date.booking.band }}
				</a>
				{% elif date.pending %}
				{% if date.list|length_is:"1" %}
				{% with booking=date.list|first %}
				<a class="cell pending" href="{% url 'booking:detail' booking.id %}" title="View booking">
					{{ booking.band }}
				</a>
				{% endwith %}
				{% else %}
				<a class="cell pending" href="{% url 'booking:list' %}?date={{ date.date|date:'Y-m-d' }}&venue={{ monthlist.venue_this.slug }}" title="View bookings">
					Multiple bookings
				</a>

				{% endif %}
				{% else %}
				<a class="cell" href="{% url 'booking:create' %}?date={{ date.date|date:'Y-m-d' }}&venue={{ monthlist.venue_this.slug }}" title="Create booking"></a>
				{% endif %}
				{% endfor %}
			</div>
			{% endwith %}
		{% endfor %}
		</div>

	</div>

<div class="table table-style">
	<div class="rowheader">
		<div class="cell">Band</div>
		<div class="cell">Venue</div>
		<div class="cell">Date</div>
		<div class="cell">Band fee</div>
		<div class="cell">State</div>
	</div>

	{% for booking in booking_list %}
	<a href="{% url 'booking:detail' booking.id %}" class="row">
		<div class="cell" data-col="Band">{{ booking.band.name }}</div>
		<div class="cell" data-col="Venue">{{ booking.venue.name }}</div>
		<div class="cell" data-col="Date">{{ booking.begin|date:"d M Y" }}</div>
		<div class="cell" data-col="Band fee">{{ booking.band_fee }}kr</div>
		<div class="cell" data-col="State">{{ booking.get_state_display }}</div>
	</a>
	{% endfor %}
</div>
{% load staticfiles %}
<script type="text/javascript" src='{% static "booking/toggleButtonCalendar.js" %}'></script>
{% endblock %}
