{% extends "booking/booking_list.html" %}
{% block breadcrumbs %}
    {{ block.super }} 
    <a class="breadcrumbs">»</a> 
    <a href="{% url 'booking:detail' booking.id  %}" class="breadcrumbs">{{ booking.band.name}}</a>
{% endblock %}
{% block title %}{{ booking.band.name }} @ {{ booking.venue.name }} - Booking - Band Booking{% endblock %}
{% block content %}
<h1>{{ booking.band.name }} @ {{ booking.venue.name }} <small>booking</small></h1>
<table>
	<tr>
		<th>From:</th>
		<td>{{ booking.begin|date:'d M Y, H:i' }}</td>
	</tr>
	<tr>
		<th>To:</th>
		<td>{{ booking.end|date:'d M Y, H:i' }}</td>
	</tr>
	<tr>
		<th>Band fee:</th>
		<td>{{ booking.band_fee }}kr</td>
	</tr>
	<tr>
		<th>Price member:</th>
		<td>{{ booking.price_member }}kr</td>
	</tr>
	<tr>
		<th>Price non-member:</th>
		<td>{{ booking.price }}kr</td>
	</tr>
	<tr>
		<th>Registered by:</th>
		<td>{{ booking.user.get_full_name|default:booking.user.username }}</td>
	</tr>
	<tr>
		<th>Registered:</th>
		<td>{{ booking.created|date:'d M Y, H:i'  }}</td>
	</tr>
	<tr>
		<th>Last modified:</th>
		<td>{{ booking.modified|date:'d M Y, H:i'  }}</td>
	</tr>
	<tr>
		<th>State:</th>
		<td>{{ booking.get_state_display }}</td>
	</tr>
</table>

<!-- Can only be seen by those that have permission to "Accept or reject booking" -->
{% if perms.booking.accept_booking and booking.state == ' ' %}
	<form method="post" action = "{%url 'booking:setstate'  booking.id %}">
		{% csrf_token %}
		<input type= "submit" value= "Accept" name= "accepted">
		<input type= "submit" value= "Reject" name= "rejected">
	</form>
{% endif %}
<!--HHHHHHHHHHHHHHHHHHHHHH-->

<section>
	<h2><a href="{% url 'band:detail' booking.band.slug %}">{{ booking.band.name }}</a> <small>band</small></h2>
	<section>
		<h3>Contact person</h3>
		<table>
			<tr>
				<th>Name</th>
				<td>{{ booking.band.contact_person }}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>{{ booking.band.contact_phone }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ booking.band.contact_email }}</td>
			</tr>
		</table>
	</section>
</section>
<section>
	<h2><a href="{% url 'venue:detail' booking.venue.slug %}">{{ booking.venue.name }}</a> <small>venue</small></h2>
	<table>
		<tr>
			<th>Crowd capacity</th>
			<td>{{ booking.venue.crowd_capacity }} people</td>
		</tr>
		<tr>
			<th>Stage width</th>
			<td>{{ booking.venue.stage_width }}m</td>
		</tr>
		<tr>
			<th>Stage depth</th>
			<td>{{ booking.venue.stage_depth }}m</td>
		</tr>
		<tr>
			<th>Stage height</th>
			<td>{{ booking.venue.stage_height }}m</td>
		</tr>
	</table>
</section>
{% endblock %}
