{% extends "booking/booking_list.html" %}

{% block breadcrumbs %}
{{ block.super }}
{% if booking %}
<span class="breadcrumbs">
	<a href="{% url 'booking:detail' booking.id %}">{{ booking }}</a>
</span>
{% endif %}
<span class="breadcrumbs">
	{% if form.initial %}
	<a href="{% url 'booking:change' booking.id %}">Edit</a>
	{% else %}
	<a href="{% url 'booking:create' %}">Create</a>
	{% endif %}
</span>
{% endblock %}

{% block title %}
{% if booking %}
{{ booking }} - Edit
{% else %}
Create
{% endif %}
 - Booking - Band Booking
{% endblock %}
{% block content %}
<h1>
	{% if booking %}
	{{ booking.band.name }} @ {{ booking.venue.name }} <small>edit</small>
	{% else %}
	Booking <small>create</small>
	{% endif %}
</h1>
<form class="create-form" method="POST">
	<p>Please enter the booking information below.</p>
	{% csrf_token %}
	<table class="create-booking-table">
		{{ form.as_table }}
		<tr>
			<td></td>
			<td>
				<button class="submit-button" type="submit" value="Add">Add</button>
			</td>
		</tr>
	</table>
</form>
{% endblock %}
