{% extends "booking/booking_list.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
		{{ block.super }}
		<a class="breadcrumbs-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="{% url 'booking:detail' booking.id  %}" class="breadcrumbs">{{ booking }}</a>
	{% endblock %}
</div>

{% block title %}{{ booking }} - Booking - Band Booking{% endblock %}
{% block content %}
<h1>{{ booking }} <small>booking</small></h1>
{% if perms.booking.change_booking and booking.state != 'm' %}
<a href="{% url 'booking:change' booking.id %}">Change</a>
{% endif %}

<section class="booking-box">
<div class="booking-box-header">
	<div>Booking Details</div>
</div>
<table class="booking-table">

	<tr>
		<th>From:</th>
		<td>{{ booking.begin|date:'d M Y, H:i' }}</td>
	</tr>
	<tr>
		<th>To:</th>
		<td>{{ booking.end|date:'d M Y, H:i' }}</td>
	</tr>
	<tr>
		<th>Band fee:</th>
		<td>{{ booking.band_fee }}kr</td>
	</tr>
	<tr>
		<th>Price member:</th>
		<td>{{ booking.price_member }}kr</td>
	</tr>
	<tr>
		<th>Price non-member:</th>
		<td>{{ booking.price }}kr</td>
	</tr>
	<tr>
		<th>Registered by:</th>
		<td>{{ booking.user.get_full_name|default:booking.user.username }}</td>
	</tr>
	<tr>
		<th>Registered:</th>
		<td>{{ booking.created|date:'d M Y, H:i'  }}</td>
	</tr>
	<tr>
		<th>Last modified:</th>
		<td>{{ booking.modified|date:'d M Y, H:i'  }}</td>
	</tr>
	{% if booking.replaces %}
	<tr>
		<th>Replaces:</th>
		<td><a href="{% url 'booking:detail' booking.replaces.id %}">{{ booking.replaces }}</a> ({{ booking.replaces.get_state_display }})</td>
	</tr>
	{% endif %}
	<tr>
		<th>State:</th>
		<td>{{ booking.get_state_display }}</td>
	</tr>
</table>

{% if booking.replacements.all %}
<h3>Replacements</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Created</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
		{% for replacement in booking.replacements.all %}
		<tr>
			<td>
				<a href="{% url 'booking:detail' replacement.id %}">
					{{ replacement.band.name }} @ {{ replacement.venue.name }}
				</a>
			</td>
			<td>{{ replacement.created|date:'d M Y, H:i' }}</td>
			<td>{{ replacement.get_state_display }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

<!-- Can only be seen by those that have permission to "Accept or reject booking" -->
{% if perms.booking.accept_booking and booking.state == ' ' %}
	<form class="button-form" method="post" action = "{%url 'booking:setstate'  booking.id %}">
		{% csrf_token %}
		<button type= "submit" value= "Accept" name= "accepted" class="button-accept">
			<i class="fa fa-check" aria-hidden="true"></i>
		</button>
		<button type= "submit" value= "Reject" name= "rejected" class="button-reject">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</form>
{% endif %}
<!--HHHHHHHHHHHHHHHHHHHHHH-->
</section>

<section>
	<h2><a href="{% url 'band:detail' booking.band.slug %}">{{ booking.band.name }}</a> <small>band</small></h2>
	<section>
		<h3>Contact person</h3>
		<table>
			<tr>
				<th>Name</th>
				<td>{{ booking.band.contact_person }}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>{{ booking.band.contact_phone }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ booking.band.contact_email }}</td>
			</tr>
		</table>
	</section>
</section>

<section>
	<h2><a href="{% url 'venue:detail' booking.venue.slug %}">{{ booking.venue.name }}</a> <small>venue</small></h2>
	<table>
		<tr>
			<th>Crowd capacity</th>
			<td>{{ booking.venue.crowd_capacity }} people</td>
		</tr>
		<tr>
			<th>Stage width</th>
			<td>{{ booking.venue.stage_width }}m</td>
		</tr>
		<tr>
			<th>Stage depth</th>
			<td>{{ booking.venue.stage_depth }}m</td>
		</tr>
		<tr>
			<th>Stage height</th>
			<td>{{ booking.venue.stage_height }}m</td>
		</tr>
	</table>
</section>
<section>
<a href="{% comment %}{% url 'report:create' %}{% endcomment %}" class="button">Create report</a>


{% endblock %}
