{% extends "booking/booking_list.html" %}
{% block breadcrumbs %}
    {{ block.super }} 
    <a class="breadcrumbs-arrow">»</a> 
    <a href="{% url 'booking:create' %}" class="breadcrumbs">Create Booking</a>
{% endblock %}
{% block title %}
{% if booking %}
{{ booking.band.name }} @ {{ booking.venue.name }} - Edit
{% else %}
Create
{% endif %}
 - Band - Band Booking
{% endblock %}
{% block content %}
<h1>
	{% if booking %}
	{{ booking.band.name }} @ {{ booking.venue.name }} <small>edit</small>
	{% else %}
	Booking <small>create</small>
	{% endif %}
</h1>
<form method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Ok">
			</td
		</tr>
	</table>
</form>
{% endblock %}
