{% extends "base.html" %}
{% block title %}Bookings - Band Booking{% endblock %}
{% block content %}
<h1>Bookings</h1>
<a href="{% url 'booking:create' %}" class="button">Add booking</a>
<div class="table">
	<div class="rowheader">
		<div class="cell">Band</div>
		<div class="cell">Venue</div>
		<div class="cell">Date</div>
		<div class="cell">Band fee</div>
		<div class="cell">State</div>
	</div>

	{% for booking in booking_list %}
	<a href="{% url 'booking:detail' booking.id %}" class="row">
		<div class="cell">{{ booking.band.name }}</div>
		<div class="cell">{{ booking.venue.name }}</div>
		<div class="cell">{{ booking.begin|date:"d M Y" }}</div>
		<div class="cell">{{ booking.band_fee }}kr</div>
		<div class="cell">{{ booking.get_state_display }}</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
