{% extends "booking/booking_list.html" %}

{% block title %}
Edit report
 - {{ booking }} - Band Booking
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<span class="breadcrumbs">
	<a href="{% url 'booking:detail' booking.id %}">{{ booking }}</a>
</span>
<span class="breadcrumbs">
	<a href="{% url 'booking:report_edit' booking.id %}">Edit report</a>
</span>
{% endblock %}

{% block content %}
<h1>
	{{ booking }} <small>edit report</small>
</h1>
<form class="create-form" method="POST">
	<p>Please enter the report information below.</p>
	{% csrf_token %}
	<table class="create-booking-table">
		{{ form.as_table }}
		<tr>
			<td></td>
			<td>
				<button class="submit-button" type="submit" value="Add">Add</button>
			</td>
		</tr>
	</table>
</form>
{% endblock %}
