<!DOCTYPE html>
<html>
	<head>
		<meta encoding="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}Band Booking{% endblock %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<script src="{% static 'common.js' %}"></script>
	</head>
	<body>
		<header class="head">
			<!--<span class="head-side"></span>-->
			<a href="{% url 'index' %}" class="logo"></a>
			{% if user.is_authenticated %}
			<span class="user">
				{% if user.is_staff %}
				<a href="{% url 'admin:index' %}">Administration</a> /
				{% endif %}
				<span>{{ user.get_full_name|default:user.username }}</span> /
				<a href="{% url 'user:logout' %}">Log out</a>
			</span>
			{% else %}
			<!--<span class="head-side"></span>-->
			{% endif %}
		</header>

		<div class="content">
			{% if user.is_authenticated %}
			<nav class="nav-bar">
				{% if perms.band.view_band or perms.band.view_managing_bands %}<a href="{% url 'band:list' %}" class="tab">Bands</a>{% endif %}
				{% if perms.venue.view_venue %}<a href="{% url 'venue:list' %}" class="tab">Venues</a>{% endif %}
				<a href="{% url 'index' %}" class="tab img"></a>
				{% if perms.booking.view_booking or perms.band.view_managing_bands %}<a href="{% url 'booking:list' %}" class="tab">Bookings</a>{% endif %}
				{% if perms.shift.view_shift %}<a href="{% url 'shift:list' %}" class="tab">Shifts</a>{% endif %}
			</nav>
			{% endif %}

			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</ul>
			{% endif %}

			{% if user.is_authenticated %}
			<div class="breadcrumb-container">
				{% block breadcrumbs %}
				<span class="breadcrumbs"><a href="{% url 'index' %}">Home</a></span>
				{% endblock %}
			</div>
			{% endif %}

			{% block content %}

			{% endblock %}
		</div>
		<footer class="foot">
				<p><a class="footerlink" href="mailto:baldur.kjelsvik@gmail.com">Contact</a> | Samfundet 2016</p>
		</footer>
	</body>
</html>
