<!DOCTYPE html>
<html>
	<head>
		<meta encoding="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Band Booking{% endblock %}</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<header class="head">
			<span class="head-side"></span>
			<a href="{% url 'index' %}" class="logo"></a>
			{% if user.is_authenticated %}
			<span class="user head-side">
				<span>{{ user.get_full_name|default:user.username }}</span> /
				<a href="{% url 'user:logout' %}">Log out</a>
			</span>
			{% else %}
			<span class="head-side"></span>
			{% endif %}
		</header>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<footer class="foot">@Samfundet 2016</footer>
	</body>
</html>
