{% extends "venue/venue_list.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
	{{ block.super }}
	<span class="breadcrumbs"><a href="{% url 'venue:detail' venue.slug %}">{{ venue.name }}</a></span>
	{% endblock %}
</div>

{% block title %}{{ venue.name }} - Venue - Band Booking{% endblock %}
{% block content %}
<h1 class="title">{{ venue.name }} <small>venue</small></h1>
<table class="table table-style inline-table no-wrap">
	<tr class="row">
		<th class="cell">Crowd capacity</th>
		<td class="cell">{{ venue.crowd_capacity }} people</td>
	</tr>
	<tr class="row">
		<th class="cell">Stage width</th>
		<td class="cell">{{ venue.stage_width }}m</td>
	</tr>
	<tr class="row">
		<th class="cell">Stage depth</th>
		<td class="cell">{{ venue.stage_depth }}m</td>
	</tr>
	<tr class="row">
		<th class="cell">Stage height</th>
		<td class="cell">{{ venue.stage_height }}m</td>
	</tr>
</table>
<h2 class="title">Bookings</h2>
<table class="table table-style inline-table no-wrap">
{% for booking in venue.get_bookings %}
	<tr class="row">
		<th class="cell">Band</th>
		<td class="cell">{{ booking.band }}</td>
	</tr>
	<tr class="row">
		<th class="cell">Date</th>
		<td class="cell">{{ booking.begin|date:"d M Y" }}</td>
	</tr>
	<tr class="row">
		<th class="cell">Attended</th>
		<td class="cell">{{ booking.report.sum_tickets }}</td>
	</tr>
	<tr class="row">
		<th class="cell">Income</th>
		<td class="cell">{{ booking.report.sum }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
