{% extends "base.html" %}

<div class="breadcrumb-container">
	{% block breadcrumbs %}
		{{ block.super }} 
	<span class="breadcrumbs"><a href="{% url 'venue:list' %}">Venues</a></span>
	{% endblock %}
</div>

{% block title %}Venues - Band Booking{% endblock %}
{% block content %}
<h1 class="title">Venues</h1>
<div class="table table-style">
	<div class="rowheader">
		<div class="cell">Name</div>
		<div class="cell">Crowd Capacity</div>
		<div class="cell">Stage Width</div>
		<div class="cell">Stage Height</div>
		<div class="cell">Stage Depth</div>
	</div>
	{% for venue in venue_list %}
	<a href="{% url 'venue:detail' venue.slug %}" class="row">
		<div class="cell" data-col="Name">{{ venue.name }}</div>
		<div class="cell" data-col="Crowd Capacity">{{ venue.crowd_capacity }}</div>
		<div class="cell" data-col="Stage Width">{{ venue.stage_width }}m</div>
		<div class="cell" data-col="Stage Height">{{ venue.stage_height }}m</div>
		<div class="cell" data-col="Stage Depth">{{ venue.stage_depth }}m</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
